{% extends 'base.html' %}
{% block title %}
M.E. Access Portal
{% endblock title %}

{% block body %}

<!-- End About Us Section -->



  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p style="font-size: large; color: rgb(93, 2, 2)">Have any questions or need assistance with anything? Whether you're seeking information, need help with navigating the system or have any other queries, our team is here to provide you with the support you need. Reach out for personalized assistance or any other inquiries you may have—our goal is to support your educational journey and help you achieve success.</p>

      </div>

    </div>

    <div class="container">

      <div class="row mt-5">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3 style="color:black">Our Address</h3>
                <p style="font-size: medium;">Adarsh Nagar, Prem Nagar, Patiala, Punjab 147004</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3 style="color:black">Email Us</h3>
                <p style="font-size: medium;">doaaoffice@gmail.com<br>support@thapar.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3 style="color:black">Call Us</h3>
                <p style="font-size: medium;">+91 96500 73883<br>+91 98110 94807</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-2"></div>
      </div>

    </div>
  </section><!-- End Contact Section -->

{% endblock body %}