{% extends 'basesignup.html' %}



{% block title %}Supervisor Signup {% endblock title %}



{% block form %}

<div class="supervisor-signup">

<h1>
    Supervisor Sign-Up 
</h1>

<div class="row">

<div class="col-md-4"></div>

    <div class="col-md-4">

        <form action="/supervisorsignup" method="post">

        <div class="form-group">
            <input type="text" class="form-control mt-2" placeholder="Enter the Supervisor ID" name="empcode" required style="text-align: center;">
            <span class="login-icon8">
                <ion-icon name="people-outline"></ion-icon>
            </span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control mt-2" placeholder="Enter the Name" name="name" required style="text-align: center;">
            <span class="login-icon8">
                <ion-icon name="body-outline"></ion-icon>
            </span>
        </div>

        <div class="form-group">
            <input type="email" class="form-control mt-2" placeholder="Enter the E-Mail Address" name="email" required style="text-align: center;">
            <span class="login-icon9">
                <ion-icon name="mail-outline"></ion-icon>
        </span>
        </div>

        <div class="form-group">
            <input type="number" class="form-control mt-2" placeholder="Enter the Phone" name="phone" required style="text-align: center;">
            <span class="login-icon9">
                <ion-icon name="call-outline"></ion-icon>
            </span>
        </div>
        
        <br>
        <button type="submit" class="btn btn-info" style="background-color: #9e4a35; color:white; border:none;" >Sign Up</button>

        </form>
        

        <br>
    </div>



<div class="col-md-4"></div>

</div>

</div>

{% endblock form %}